@page
@model EduCenterManagerWeb.Pages.Student.IndexModel
@{
	ViewData["Title"] = "Index Student";
}
<h1>Index Student</h1>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Student[0].Nombre)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Student[0].Apellido)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Student[0].FechaNacimiento)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Student[0].Email)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Student[0].Telefono)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Student[0].Direccion)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Student[0].CoursesId)
			</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach  (var item in Model.Student)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Nombre)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Apellido)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.FechaNacimiento)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Telefono)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Direccion)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CoursesId)
				</td>
				<td>
					<span></span>
				</td>
			</tr>
		}
	</tbody>
</table>
 
